<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->
    <table class="job-listing" th:each="job : ${jobs}">
        <tr>
            <td>ID</td>
            <td><p th:text="${job.getId()}"></p></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><p th:text="${job.getName()}"></p></td>
        </tr>
        <tr>
            <td>Employer</td>
            <td><p th:text="${job.getEmployer()}"></p></td>
        </tr>
        <tr>
            <td>Location</td>
            <td><p th:text="${job.getLocation()}"></p></td>
        </tr>
        <tr>
            <td>Position Type</td>
            <td><p th:text="${job.getPositionType()}"></p></td>
        </tr>
        <tr>
            <td>Skill</td>
            <td><p th:text="${job.getCoreCompetency()}"></p></td>
        </tr>
    </table>

</div>

</body>
</html>